
body
{
background-color: grey;
}
#all
{
width: 1000px;
background-color: grey;
margin-left: auto;
margin-right: auto;
}
#top
{
background-color: black;
color: white;
text-align: center;
padding: 17px;
margin-bottom: 20px

}
#nav
{
float:left;
color:white;
background-color: black;
width: 100px;
min-height: 627px;
padding: 16px;
margin-right: 15px;
margin-bottom: 0px;
}
#cont
{
float:left;
background-color: black;
color:white;
padding: 20px;
width: 600px;
min-height: 620px;
}
#rt
{
float:left;
background-color: black;
width: 160px;
padding: 16px;
min-height: 627px;
margin-left: 15px;
}
#end
{
clear:both;
background-color: grey;
color: white;
text-align: center;
padding: 16px;
}
#info
{
clear:both;
background-color: black;
color: white;
text-align: center;
padding: 16px;
margin-top:20px;
}
.kab
{
	float:bottom;
	min-width: 50px;
	height: 25px;
	color:brown;
	font-size:18px;
	padding-bottom: 20px;
	margin-bottom: 50px;
	border-bottom: 5px solid;
}
.option
{
	float:bottom;
	min-width: 50px;
	height: 25px;
	font-size:18px;
	padding-bottom: 20px;
	margin-bottom: 50px;
	border-bottom: 5px solid;
}

.option:hover
{
	color:brown;
}

.tak
{
	float:left;
	
	padding-bottom: 20px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 16px;
	
	
}
.tak:hover
{
	color:brown;
}
a:link {
    color: white;
}
	a:visited { 
    color: white;
}

a:visited:hover
 { 
    color: brown;
}